{{> header}}

<main class="w-[80%] lg:w-[70%] mx-auto pt-[136px] pb-[60px] space-y-10">
    <!-- Post detail -->
    <div class="bg-secondary-200 p-6 lg:p-10 rounded-lg">
        <div class="space-y-3">
            <!-- Post Category -->
            <div class="flex flex-wrap gap-2">
                <a href="#" class="badge">{{category.name}}</a>
            </div>
            <!-- Post Title -->
            <h1 class="text-3xl leading-10 lg:text-[40px] lg:leading-[56px] font-extrabold font-Montserrat tracking-wide text-secondary-300">
                {{post.title}}</h1>
            <!-- Author and Date Created-->
            <div class="flex items-center space-x-6">
                <div class="flex items-center space-x-2">
                    <img src="/image/author-avatar.jpg" alt="User Avatar" class="w-8 h-8 rounded-full">
                    <h2 class="text-lg font-bold font-Montserrat text-primary">{{author.name}}</h2>
                </div>
                <div class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-5 h-5 stroke-secondary-600">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span class="text-lg font-normal font-Hindmadurai text-secondary-600">{{formatDate post.created_date}}</span>
                </div>
            </div>
        </div>
        <div class="space-y-6 mt-10">
            <!-- Post Image -->
            {{!-- TODO: Consider removing this part. Because we allow the user write their own image in content --}}
            <img src="/image/food.jpg" alt="Photo" class="w-full rounded-lg aspect-[3/2] object-cover">
            <!-- Post Content -->
            <div>
                {{{post.content}}}
            </div>
        </div>
        <div class="h-[2px] my-6 bg-secondary-100"></div>
        <!-- Post Like and Comment -->
        <div class="flex space-x-8">
            <div class="flex items-center space-x-1">
                {{!-- TODO: Adjust the css of liked and non-liked button --}}
                {{#if liked}}
                    <svg id="like-action" data-id="{{post._id}}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-6 h-6 fill-secondary-200 stroke-primary stroke-2 transition duration-300 ease-in-out">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                {{else}}
                    <svg id="like-action" data-id="{{post._id}}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-6 h-6 fill-primary-200 stroke-primary stroke-2 transition duration-300 ease-in-out">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                {{/if}}
                <span class="text-lg font-semibold font-Hindmadurai text-primary">{{post.likes.length}}</span>
            </div>
            <div class="flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-6 h-6 stroke-primary stroke-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
                </svg>
                <span class="text-lg font-semibold font-Montserrat text-primary">{{post.comments.length}}</span>
            </div>
        </div>
    </div>

    <!-- Post comment -->
    <div class="w-full bg-secondary-200 p-6 rounded-lg">
        <form id="comment-form" post-id="{{post._id}}" class="flex flex-col px-3 py-2 border-2 border-secondary-100 rounded-lg">
            <textarea class="w-full font-normal resize-none text-base text-secondary-300 font-Hindmadurai outline-none"
                rows="4" name="content" placeholder="Add your comment..." id="comment" required></textarea>
            <button type="submit"
                class="flex items-center ml-auto mt-2 px-3 py-2 rounded-lg bg-primary space-x-1 hover:bg-secondary-400 transition duration-300 ease-in-out">
                <span class="text-base text-secondary-200 font-normal font-Montserrat">Send</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="w-4 h-4 fill-secondary-200">
                    <path
                        d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                </svg>
            </button>
        </form>
        <div class="mt-7 space-y-5">
            {{#each comments}}
            <div class="space-y-1">
                <div class="flex items-center space-x-2">
                    <img src="/image/author-avatar.jpg" alt="User Avatar" class="w-12 h-12 rounded-full">
                    <div>
                        <h2 class="text-lg font-bold font-Montserrat text-primary">{{user.name}}</h2>
                        <div class="flex items-center space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke="currentColor" class="w-[18px] h-[18px] stroke-secondary-600">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="text-base font-normal font-Hindmadurai text-secondary-600">{{formatDateTime created_date}}</span>
                        </div>
                    </div>
                </div>
                <div class="ml-14 space-y-1">
                    <p id="comment-content-{{_id}}" class="text-lg text-secondary-300 font-normal font-Hindmadurai">{{content}}</p>
                    <div class="hidden border-2 border-secondary-100 rounded-lg px-3 py-2">
                        <textarea id="update-comment-textarea-{{_id}}" comment-id="{{_id}}" class="w-full font-normal resize-none text-base text-secondary-300 font-Hindmadurai outline-none"
                        rows="3" name="content"> {{content}} </textarea>
                    </div>
                    
                    <div class="space-x-5">
                        <span
                            class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400">Reply</span>
                            <div id="update-comment-btn-{{_id}}" style="width: fit-content; margin:0; display: inline-block">
                                {{#compareIds user_id @root.currentUser._id}}
                                    <span 
                                        class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400" style="margin-left: 20px;">Edit</span>
                                {{/compareIds}}
                            </div>
                            
                            <div id="delete-comment-btn-{{_id}}" comment-id="{{_id}}" style="width: fit-content; margin:0; display: inline-block">
                                {{#compareIds user_id @root.currentUser._id}}
                                    <span
                                        class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400" style="margin-left: 20px;">Remove</span>
                                {{/compareIds}}
                            </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- Reply Comment -->
            {{!-- TODO: Upcomming soon --}}
            {{!-- <div class="ml-14 space-y-1">
                <div class="flex items-center space-x-2">
                    <img src="/image/author-avatar.jpg" alt="User Avatar" class="w-12 h-12 rounded-full">
                    <div class="flex flex-col">
                        <h2 class="text-lg font-bold font-Montserrat text-primary">Marina</h2>
                        <div class="flex items-center space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke="currentColor" class="w-[18px] h-[18px] stroke-secondary-600">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <span class="text-base font-normal font-Hindmadurai text-secondary-600">Jan 24, 2023</span>
                        </div>
                    </div>
                </div>
                <div class="ml-14 space-y-1">
                    <p class="text-lg text-secondary-300 font-normal font-Hindmadurai">Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Aperiam autem eius porro minima quam delectus quisquam rerum,
                        tempora perferendis repellat facilis aspernatur ut exercitationem inventore earum! Accusamus
                        iure esse vero.</p>
                    <div class="space-x-5">
                        <span
                            class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400">Reply</span>
                        <span
                            class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400">Edit</span>
                        <span
                            class="text-primary text-base font-normal font-Hindmadurai cursor-pointer hover:text-secondary-400">Remove</span>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</main>

{{> footer}}

<script src="/javascript/post-detail.js"></script>